packages/node-red/flows/flow.json
[{"id":"115d48603805a1ef","type":"tab","label":"Command and Control Centre App","disabled":false,"info":"","env":[]},{"id":"779889120171afa9","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"c50be960e3f8bc042ea66d2ceea4febde16eb9f93cb8b5afbe37fdf6a435dfd1-certificate.pem.crt","keyname":"c50be960e3f8bc042ea66d2ceea4febde16eb9f93cb8b5afbe37fdf6a435dfd1-private.pem.key","caname":"AmazonRootCA1.pem","servername":"","verifyservercert":true,"alpnprotocol":""},{"id":"f37d8209c25a70e0","type":"mqtt-broker","name":"","broker":"a3qmcxxoowuyi2-ats.iot.us-east-1.amazonaws.com","port":"8883","tls":"779889120171afa9","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"98b6bfca6801d279","type":"inject","z":"115d48603805a1ef","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":380,"wires":[["25b48370820fdcbc","9f4a0b86fa7fd6d8"]]},{"id":"25b48370820fdcbc","type":"debug","z":"115d48603805a1ef","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":380,"wires":[]},{"id":"9f4a0b86fa7fd6d8","type":"mqtt out","z":"115d48603805a1ef","name":"","topic":"topic/test","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f37d8209c25a70e0","x":580,"y":480,"wires":[]},{"id":"67375f3396566b9c","type":"http in","z":"115d48603805a1ef","name":"","url":"/node-red","method":"post","upload":false,"swaggerDoc":"","x":180,"y":480,"wires":[["9f4a0b86fa7fd6d8"]]}]